/* handy css variables from https://open-props.style/ */
@import 'open-props/easings';
@import 'open-props/shadows';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/*
		Additional "resets" based on Josh's article:
		https://www.joshwcomeau.com/css/custom-css-reset/
	*/
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	* {
		@apply border-border;
	}

	body {
		-webkit-font-smoothing: antialiased;
		isolation: isolate;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 100svh;

		@apply bg-background text-foreground;
	}

	input,
	button,
	textarea,
	select {
		font: inherit;
	}
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-wrap: balance;
	}

	p {
		text-wrap: pretty;
	}

	:root {
		--font-sans: ui-sans-serif;
		--font-fancy: 'Newsreader Variable';
		--padding-inline: clamp(1rem, 5vw, 3rem);
		--radius: 1rem;

		@apply transition;
	}

	/* light theme setup */
	:root {
		color-scheme: light;

		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 346.8 77.2% 49.8%;
		--primary-foreground: 355.7 100% 97.3%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 72.22% 50.59%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 346.8 77.2% 49.8%;
	}

	/* dark theme setup */
	[data-theme='dark'] {
		color-scheme: dark;

		--background: 20 14.3% 4.1%;
		--foreground: 0 0% 95%;
		--card: 24 9.8% 10%;
		--card-foreground: 0 0% 95%;
		--popover: 0 0% 9%;
		--popover-foreground: 0 0% 95%;
		--primary: 346.8 77.2% 49.8%;
		--primary-foreground: 355.7 100% 97.3%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 0 0% 15%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 12 6.5% 15.1%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 85.7% 97.3%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 346.8 77.2% 49.8%;
	}

	body {
		view-transition-name: body;
	}

	/* "normal" navigation */
	@keyframes fade-out-to-left {
		to {
			opacity: 0%;
			transform: translateX(-50%);
		}
	}

	@keyframes slide-from-right {
		from {
			transform: translateX(100%);
		}
	}

	/* "back" navigation */
	@keyframes fade-out-to-right {
		to {
			opacity: 0%;
			transform: translateX(50%);
		}
	}

	@keyframes slide-from-left {
		from {
			transform: translateX(-100%);
		}
	}

	@media (prefers-reduced-motion: no-preference) {
		:root::view-transition-old(body) {
			pointer-events: none;
			animation: 300ms ease-out both fade-out-to-left;
		}

		:root::view-transition-new(body) {
			pointer-events: none;
			animation: 300ms ease-out both slide-from-right;
		}

		/* "back" navigation */
		:root[data-back]::view-transition-old(body) {
			pointer-events: none;
			animation: 300ms ease-out both fade-out-to-right;
		}

		:root[data-back]::view-transition-new(body) {
			pointer-events: none;
			animation: 300ms ease-out both slide-from-left;
		}

		/* smooth scrolling */
		:has(:target) {
			scroll-behavior: smooth;
			scroll-padding-top: 4rem;
		}
	}
}
